<div class="card mb-4">
    <div class="card-body">
		<select ng-model="vm.logOptions.sortOrder" ng-change="vm.search(vm.logOptions)" class="custom-select custom-select-lg float-end" style="width: auto;">
			<option value="Ascending">Sort: Ascending</option>
			<option value="Descending">Sort: Descending</option>
		</select>
		<select ng-model="vm.logOptions.autoRefresh" class="custom-select custom-select-lg float-end me-2" style="width: auto;" title="Reload the log file at this interval when it has changed">
			<option value="0">Refresh: Disabled</option>
			<option value="3">Refresh: 3 seconds</option>
			<option value="5">Refresh: 5 seconds</option>
			<option value="10">Refresh: 10 seconds</option>
			<option value="30">Refresh: 30 seconds</option>
		</select>
        <h5 class="card-title">Logs</h5>
        <div class="input-group">
            <input type="text" ng-model="vm.logOptions.filterExpression" ng-change="vm.updateSuggestions()" ng-keydown="vm.onKeyDown($event)" ng-blur="vm.hideSuggestions()" class="form-control form-control-lg search-input" placeholder="Search logs&hellip;" autocomplete="off" spellcheck="false"/>
            <div class="dropdown-menu show search-suggestions" ng-if="vm.suggestions.length > 0">
                <button type="button" class="dropdown-item" ng-repeat="name in vm.suggestions" ng-class="{ active: $index === vm.activeSuggestion }" ng-mousedown="$event.preventDefault(); vm.selectSuggestion(name)">{{ name }}</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary ms-1" type="button" ng-click="vm.search(vm.logOptions)">Search</button>
                <button class="btn btn-outline-secondary" type="button" ng-click="vm.clear(vm.logOptions)">Clear</button>
            </div>
        </div>
    </div>
</div>