<script type="text/ng-template" id="nestedTable">
    <table class="table nested-prop">
        <tbody>
            <tr ng-if="val.properties" ng-repeat="prop in val.properties">
                <th>{{prop.name}}</th>
                <td ng-if="prop.value.value !== undefined"><a href="" class="property-link" ng-click="vm.findItem(vm.propertyPath(path, prop.name), prop.value.value)" title="Search for logs with this value">{{prop.value.value}}</a></td>
                <td ng-if="prop.value.properties || prop.value.elements" ng-init="val = prop.value; path = vm.propertyPath(path, prop.name)" ng-include="'nestedTable'"></td>
            </tr>
            <tr ng-if="val.elements" ng-repeat="element in val.elements">
                <td ng-if="element.value !== undefined"><a href="" class="property-link" ng-click="vm.findItem(path + '[?]', element.value)" title="Search for logs with this value">{{element.value}}</a></td>
                <td ng-if="element.properties || element.elements" ng-init="val = element; path = path + '[?]'" ng-include="'nestedTable'" ></td>
            </tr>
        </tbody>
    </table>
</script>

<div class="card">
    <div class="card-body">

        <!-- No Results -->
        <div ng-show="vm.logitems.totalItems === 0" class="text-center">
            No Results
        </div>

        <table class="table table-hover" ng-show="vm.logitems.totalItems > 0">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:130px;">Timestamp</th>
                    <th scope="col">Level</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="log in vm.logitems.items" ng-click="log.open = !log.open" class="item" ng-class="{'open': log.open}">
                    <td class="timestamp">{{ log.timestamp | date:'medium' }}</td>
                    <td><span class="badge" ng-class="log.level | lowercase">{{ log.level }}</span></td>
                    <td>{{ log.renderedMessage }}</td>
                </tr>
                <tr ng-repeat-end="" ng-if="log.open" class="details">
                    <td colspan="3">
                        <div ng-if="log.exception" class="exception">
                            <h3>Exception</h3>
                            <p>{{ log.exception }}</p>
                        </div>
                        <table class="table properties">
                            <tbody>
                                <tr>
                                    <th>Timestamp</th>
                                    <td>{{ log.timestamp }}</td>
                                </tr>
                                <tr>
                                    <th>@MessageTemplate</th>
                                    <td><a href="" class="property-link" ng-click="vm.findItem('@MessageTemplate', log.messageTemplateText)" title="Search for logs with this value">{{log.messageTemplateText}}</a></td>
                                </tr>
                                <tr ng-repeat="key in vm.sortedPropertyNames(log) track by key" ng-init="val = log.properties[key]">
                                    <th>{{key}}</th>
                                    <td ng-init="path = vm.propertyPath(null, key)">
                                        <span ng-if="val.value !== undefined"><a href="" class="property-link" ng-click="vm.findItem(path, val.value)" title="Search for logs with this value">{{val.value}}</a></span>
                                        <div ng-if="val.properties || val.elements" ng-include="'nestedTable'"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
